.js-autocomplete-area {
  display: none;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px soild #cccccc;
  border-radius: 4px;
  position: absolute;
  z-index: 9999;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.js-autotable {
  border-collapse: collapse;
  border-spacing: 0;
  background: #FFFFFF;
  width: 100%;
  cursor: default;
  padding: 5px 0; }

.js-autorow {
  background: #FFFFFF;
  line-height: 20px;
  padding: 3px 12px;
  white-space: nowrap; }

.js-autocomplete-selected {
  background: #eeeeee;
  color: #337ab7; }
