$backgroundColor:#FFFFFF;
$borderSize:1px;
$borderColor:#cccccc;
$selectColor:rgb(238, 238, 238);
$selectFontColor:rgb(51, 122, 183);
$inputLeftPadding:12px;
.m-autocomplete-area {
    display: none;
    background-color: $backgroundColor;
    color: #000000;
    border: $borderSize solid $borderColor;
    border-radius: 4px;
    position: absolute;
    z-index: 9999;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.m-autotable {
    border-collapse: collapse;
    border-spacing: 0;
    background: none repeat scroll 0 0 $backgroundColor;
    width: 100%;
    cursor: default;
    padding: 5px 0;
}

.u-autorow {
    background: none repeat scroll 0 0 $backgroundColor;
    line-height: 20px;
    padding: 3px $inputLeftPadding;
    white-space: nowrap;
}

.u-autocomplete-selected {
    background: none repeat scroll 0 0 $selectColor;
    color: $selectFontColor;
}